<div class="background">
<div class="index-container">
    <h1>Music at your fingertips!</h1>
    <form action="/" method="POST">
        <input type="text" placeholder="Enter your artist" name="name">
        <input type="submit" value="Search">
    </form>
</div>
</div>